<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <p>Hello, world!</p>
<a href="#" onclick="return recordcmd();"><button type="button">Record</button></a>
<a href="#" onclick="return replaycmd();"><button type="button">Replay</button></a>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
            function recordcmd(){
                $.ajax({
                    type: "GET",
                    url: "http://0.0.0.0:8080/record",
                    success: function (data) { 
                  },
                });                
            }

            function replaycmd(){
                $.ajax({
                    type: "GET",
                    url: "http://0.0.0.0:8080/replay",
                    success: function (data) { 
                  },
                });
            }
</script>


</body>
</html>
