<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

  <p>Hello, world!</p>
<a href="#" onclick="sendCommand('record'))"><button type="button">Record</button></a>
<a href="#" onclick="sendCommand('replay))"><button type="button">Replay</button></a>
<a href="#" onclick="sendCommand('stop'))"><button type="button">Stop</button></a>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
            function sendCommand(command){
                $.ajax({
                    type: "GET",
                    url: "/"+command,
                    success: function (data) { 
                  },
                });                
            }
</script>


</body>
</html>
